<section class="features">
  <li class="features__item">
    <img src="/assets/svg/filled7/gleam.svg"
      alt="Hardware"
      width="32"
      height="32"
    />
    <h3>Hardware</h3>
    <p>
      I have multiple hardware projects under my belt with my interests being
      automation, signals and circuit design. My hardware focuses are on the AVR
      platform.
    </p>
  </li>
  <li class="features__item">
    <img src="/assets/svg/filled7/monitor.svg"
      alt="Programming"
      width="32"
      height="32"
    />
    <h3>Programming</h3>
    <p>
      I have experience developing full-stack applications and desktop
      applications for/on Linux. I am comfortable doing Linux server
      administration and code deployment.
    </p>
  </li>
  <li class="features__item">
    <img src="/assets/svg/filled7/music.svg"
      alt="Programming"
      width="32"
      height="32"
    />
    <h3>Music and Analog</h3>
    <p>
      I'm passionate about music and analog single-dimensional signal
      processing. I am comfortable designing and manufacturing analog circuitry
      from idea to working prototype.
    </p>
  </li>
</section>
