$color-fg: #222 !default;
$color-fg-secondary: #333 !default;

$color-bg: #fefefe !default;

$color-card-bg: #fff;

$color-spotify: #1DB954;

// TODO: Change
$color-link: #0000ff;
$color-link-visited: #ff0000;


$color-good: #0cce6b;
$color-bad: #ed7d3a;
