@mixin content--image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.content img {
  @include content--image;
}

.content--wide img {
  @include content--image;
}

.post__content img {
  filter: saturate(40%);
  border: #000 1px solid;
  transition: all 0.13s linear;
}

.post__content img:hover {
  transition: all 0.13s linear;
  filter: saturate(100%);
}
